<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bear Spread</title>
</head>
<body>
    <nav>
        <div class="logo">TNTrading</div>
        <div class="nav-items">
            <a href="/">GO GREEN!</a>
        </div>
    </nav>

    <section class="hero">
        <div class="container">
            <h1> Bear Spread </h1>
        </div>

    </section>
</body>
</html>
