<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleFormat.css') }}">
    <title>Bull Spread</title>
</head>
<body>
    <nav>
        <div class="logo">TNTrading</div>
        <div class="nav-items">
            <a href="/">GO GREEN!</a>
        </div>
    </nav>

    <section class="hero">
        <div class="container">
            <h1> Bull Spread </h1>
            <h2> A bull spread consists of two call options, buying a call with strike E1, and selling a call with E2. </h2>
            <h3>E1 should be roughly equal to the current stock price, and E2 is the price that you are betting the stock will rise to.</h3>
            <form action="/math" method="post">
                <label for="e1">Enter E1:</label><br>
                <input type="number" id="e1" name="e1"><br>
                <label for="e2">Enter E2:</label><br>
                <input type="number" id="e2" name="e2"><br>
                <label for = "S">Enter the current stock price:</label><br>
                <input type="number" id="S" name="S"><br>
                <input type="submit" value="Submit">
            </form>
        </div>

    </section>
</body>
</html>
