<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleFormat.css') }}">
    <title></title>
</head>
<body>
    <nav>
        <div class="logo">TNTrading</div>
        <div class="nav-items">
            <a href="/">GO GREEN!</a>
        </div>
    </nav>

    <section class="hero">
        <div class="container">
            <h1>Tips and facts for beginners</h1>
            <p1>Stock options aren't actual shares of stock—they're the right to buy a set number of company shares at a fixed price, usually called a grant price, strike price, or exercise price.</p1>
            <p2>Stock options give a trader the right, but not the obligation, to buy or sell shares of a certain stock at an agreed-upon price and date. Stock options are a common form of equity derivative. One equity options contract generally represents 100 shares of the underlying stock.</p2>
            <p3> Stocks offer high-risk, high-reward potential, while options take that a couple notches higher, with the possibility to double or triple your money (or more) at the risk of losing it all, often in the matter of a few weeks or months.</p3>
            <button onclick ="redirectTovideo()"> Watch video? </button>
                <script>
                    function redirectToLaunchvideo(){
                        window.location.href = "https://www.youtube.com/watch?v=VJgHkAqohbU"
                    }
                </script>
        </div>

    </section>
</body>
</html>
