<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Changer</title>
</head>
<body>

    <h1>You selected {{ticker}}</h1>
    <h2>Here's a graph of their recent stock prices: (display graph here)</h2>
    <h3>Choose one of the following trading strategies:</h3>

    <a href="/bull"><button>Bull Spread</button></a>
    <a href="/bear"><button>Bear Spread</button></a>
    <a href="/butterfly"><button>Butterfly Spread</button></a>

    <h4>Don't know how to choose a strategy? Click here to learn more!</h4>
    
</body>
</html>
